# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine
from langdetect import detect

In [3]:
# load messages dataset
messages = pd.read_csv('notebooks/messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [4]:
# load categories dataset
categories = pd.read_csv('notebooks/categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [5]:
# merge datasets
df = messages.merge(categories, how='outer',on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [6]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(';', expand = True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [7]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]
# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.transform(lambda x: x[:-2]).tolist()
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [8]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.as.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [9]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].transform(lambda x: x[-1:])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [10]:
# drop the original categories column from `df`
df = df.drop('categories',axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [11]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis = 1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
#Check the number of target categories
for col in df.columns:
    number_of_unique = len(df[col].unique())
    if number_of_unique != 2:
        print(col,number_of_unique)

id 26180
message 26177
original 9631
genre 3
related 3
child_alone 1

1. `child_alone` only has one category, so we can drop it.
2. `related` has three categories, we need find more insight about it.

In [13]:
# Drop child_alone
df.drop('child_alone',axis=1, inplace = True)

In [14]:
# More analysis for related
# Check language
n_en = 0
for text in df.loc[df['related']==2,:].message:
    try:
        text_lan = detect(text)
        if text_lan == 'en':
            n_en += 1
    except:
        pass
print(n_en/len(df.loc[df['related']==2,:].message))

0.36764705882352944

We can see most message labeled as related 2

In [15]:
# Check content
for text in df.loc[df['related']==2,:].message:
    try:
        text_lan = detect(text)
        if text_lan == 'en':
            print(text)
    except:
        pass

. .. i with limited means. Certain patients come from the capital.
The internet caf Net@le that's by the Dal road by the Maranata church ( incomplete )
URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX DES MISSIONS IMPASSE BALEV BUTTE BOYER MANQUE EAU ET NOURRITURE N ONT VU AUCUN SECOURS DEPUIS 8 JOURS HELP HELP
no authority has passed by to see us. We don't have a place t sleep ( incomplete )
It's Over in Gressier. The population in the area - Incomplete
we sleep with the baby. Thanks in advance for the help you will bring us. ( incomplete )
I need help in Jrmie because I was in Port-au-Prince in university I am counting on you.
fsa pou mwen s v p map mouri mwen gen tout po blem ede m a do that for me plz. I'm dying. I have all sorts of problems. Help me
.. Gonaives, in a place called Canal Bois in French. i'm writing this message just to..
don't understand the first part. .. understanding. We are waiting for your response
Est-ce que ya monde qui aller U. s. a et qui ont tomoin qui Americain Are there people who are going to US and that have witness that is american
Gens ont information qui dit que si on moins citoyens americains vit ici l que tout aller ok tout le monde vite fil pour qu'on essaie survivre. People have information that say that if american citizens live here that all will be ok and that everyone ( could be the world ) hurrying to try to make us survive.
This is my address : Cersine 8 Prolong. .. .
I would like to have some information on the last disaster
we are in rue Dessalines Petit goaves and it necessary to..?
I am very happy to get the messages that tell me about the precautions I have to take. Thank you very much, If you could make it so that food comes my way it would be good because ..
(Delmas 33 Charboniere infomatyon s'il vous plait.)
(Delmas 33 Charboniere infomatyon s'il vous plait.)
(Delmas 33 Charboniere infomatyon s'il vous plait.)
I'd like to know after this drama, will there be anywhere that I may see a psychologist, who maybe available because I have
are what the imigration restarts has make of them pass-port for people that not of pass-port
The SMS:  Evitons 2 traiter 1 tas bLaissons 2 cot 7 kesyon. Ke tu sois direct tais notre mach conclus 2 c matin. J't'attends
Wesantyahoo.fr.Pepayisenyahoo.fr
NOTES: this message is not complete
Good evening to all parts of the United Nations so I remsiw Adra, Spain because I see something to bring 250 people found the four towels soap Cink had a six ice all very much pleased the United Nations kounya other things I'm waiting for luggage next to Always on baylode.
The SMS:  Rezilta Bak la sot bay 12 Janvye a nan lekl la vi a. Men kman l tonbe: Moun ki mouri nan dezobeyisans yo: Elimine Moun ki mouri anba pouvwa Bondye yo: Admi e rs moun ki rete yo ajoune. Pa bliye egzamen moun ajoune yo p'ap two lwen pou'l ft, degaj
Bonjou fr Louko mwen se simon st.pierre map koute radio 1 nan boukan-chat map mandew svp pouw salye moun sayo pou mwen: Eunide Elissain, wiskender st.pierre,et jesual st.pierre,alyas pipirit, kap koute radyo a chapotin. Msi.
Prcaussion cons of the aspen earth
please, we would like to know if itis true thereas in the moment.
NOTES: This message is not complete, it is not necessary to translate it.
NOTES: This message mark not enough information.
Word Hurricane and earthquake
Tegen tranblement land kite yon pase nan north country of haiti sete year 1842 Bulan interest unknown
RT Fleegerian_Akin RT ShanCali Earthquake in carribean I feel sorry 4 dem ppl in hatti da whole island is basi cont http tl.gd 3g8mi
Haiti Earthquake Earthquake Hits Haiti C est tre tres rare que trembleme. http bit.ly 53Z4gm n Got News? Add It!
RT mHefneratm RT LoSoATM What happened n HaiTi ??&gt Da Whole Situation turn ugly! Xhi Xhi.. Lmao Nah a earthquake! WrD! $hyT Brazzi
la probabilidad advertida: Interseismic strain accumulation measured by GPS in the seismic gap between Constituci‚àö‚â•n and Concepci‚àö‚â•n in Chile
On My Way To SantiagO with the team . PhOtOshOt mOde On . ;) En pistaaaaaaaa
aguinho89 Adding the 2010 S‚àö¬£o Tom‚àö¬© (with my rating 0 of 5) to my isopor com gelo! #amywine brincadeira, amo vinho e adoro suas dicas, abs
Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf
Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf
hmre vilage kachipul men flood ne bht nuksan kiya he hmra crop,hmre ghr aur hmra rozgar sbkch khtm hogya he mgr govt ne abi tk hmri koi help nhn ki he. Location:vilage kachipul distt:kambr shadadkot plz visit u city kachipul
NuFI H H K Please Help me vellage Gul khan laghari Talkio Khair Pure Nathan shah Distk Dadu sindhi U/C Kandi chukhi Flood loss victums Na goverment na help ki ha na kis Tanzam Na please hel
I am a poor man i have youngr children But the local government says i am not eligible to receve watan card please issue watan card on my C.N.I.C no.
Complaint against save the children is not visited to us basti sabqi wala p/o kotla mughlan teh Jampur
Distrct jamshoro lakhra   residentional          ,      ,      somethng
Iam Raees khan and iam very poor man.
100  persnt  Effecte     Nitionality K Righter          K       krt a plz   hamar  kro loct VILLAG CITY KACHIPUL Dist! Kamber Shahdad a  Qubo plz Vist  Kachipul
KHALIL AHMAD AND M ASMIAL KOTLA MUGHLAN DISTREKT RAJANPUR TAHSEEL JAMPUR HAMARAY HAN PANEY 10 Fut HAMARAY EAT THA 100 FESAD steadfast KITTER Valon HAN HO GAY SAY KY stage 2 MARTBA RASHAN Mela 1 KAHEN SAY MAN CAMP KER Mang Laya BACHON HON MAN IS KO AUR CH
most affacted areas in Punjab kot addu, jampur, kot mithan
thatta,         (, ,)
murad mae zauja khuda baksh basti ahmmad yar bakhshu bhattar dakkhana thul hamza teh liaqat pur dest r y khan please tell us that why woman watan card have not been made. please help us thank you
 ShahZaib   Kachipul,  Aqwame Muthida  apeel   Hamare     pareshane BRT  , Berozgare Badhale Plz    apeel      n !      Khad a  Wo Kisano     Wo
  WAJA          TAHSEEL  KHAIRO  JACAB  , SA  ,  ,    AABAD   APEEL MADAD
SIR WE REUEST YOU UN PEORLE BE JUST AND REALISE WHO IS EFFECTED AND WHO IS NOT. IF YOU REALLY WANT TO HELP THE EFFECTED ONES THEN..
   MAOZA          U  REP '
   MAOZA          U  REP '
   MAOZA          U  REP '
   MAOZA          U  REP '
TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA KHEL VIA KALA BAGH P/O TOLA MANGLI VILLAGE MUHABBAT KHEL sir may selab say motaser howa houn,but what i can
UN aur UN K Nimaidon ko Apeel krt hain k? Hamara Rozgar,Crops,aur taleem Health,saf pani peane k lea sub kuch Effecte hoge hain!Hamre Ilaiqe mein
  CONNFCTION     /         .     SOLANGI,       JOHI
@jujoffer: So Frankenstorm has been reduced to Young Frankenstorm status‚àö√Ü
#SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout by Brown's Brewing Company @Casa de Beer Nerd ‚àö‚â• http://t.co/gPjxgSN1 #photoIt's dark and stormy (@Frankenstorm Apocalypse - Hurricane Sandy w/ @whitneyebryan @gregwong) http://t.co/fBTFQlQJ
atrickSF @antmarshall @kleankut1 @somarlavous @mkbkrthebkmkr @gunsmoke415 Sandy cant blow for shit.. http://t.co/1R3ufoMOGuy on the roof of a building in Brooklyn #sandy #nyc http://t.co/E44mdt1U
Despite rapid deliveries of tents and other relief assistance by Chinese authorities, fresh snowfall on Tuesday made the situation for the estimated 40,000 homeless people in Zhangbei and Shangyi counties of Hebei Province very difficult.
All available resources were put forward to deal with the heatwave which killed 1,271 alone in the metropolis since June 20, when the first heatstroke victims arrived at hospitals.
The six countries will also adopt a training curriculum for their volunteers as the group feels that they play an important role in education and prevention, David Dofara, a regional health specialist, told IRIN on Thursday.
"It was very windy and there were heavy thunderstorms.
The 50 international hospital staff lived in a tent city and sweltered in temperatures of 45 degrees celsius.
PETR V. ILIICHEV (Russian Federation) said the growing "untraditional" risks to peacekeepers from non-governmental actors placed more responsibility on the Council to devise clear mandates.
Refugees International therefore recommends that:
This combination of low agricultural production and high food prices means that many people have started to resort to negative coping mechanisms: reducing their number of daily meals, taking their children out of school and eating roots and leaves.
crop, loss of hydro-electric generating capacity, a reduction of production in various mining enterprises and
transferred to a sanitary landfill site by a
Families also have solar lamps which can be recharged at charging stations in each community.
Read the [full blog post](http://www.odi.org.uk/opinion/details.asp?id=6777&title=somalia-horn-africa-humanitarian-crisis-independent-commission-aid-impact-icai-dfid) by Simon Levine.
Mali's former President Amadou Toumani Touré - though hailed internationally as a democrat, reformer, and ally in the American "war on terror"  - oversaw a system tainted by corruption at all levels.

Most messages labeled as related 2 in English are less relavent to the disaster.

In [16]:
# Remove rows with a related value of 2 from the dataset
df = df[df['related'] != 2]

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [17]:
# check number of duplicates
print(df.duplicated().sum())

154

In [18]:
# drop duplicates
df = df.drop_duplicates()

In [19]:
# check number of duplicates
print(df.duplicated().sum())

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [20]:
engine = create_engine('sqlite:///notebooks/processeddata.db')
df.to_sql('df', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.